<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">      
            <div class="col-4 text-center">
                <h1 class="blog-header-logo text-dark">Blog</h1>
            </div>  
            <div class="col-2 p-1">
                <button type="button" class="button" (click)="showNewPostForm()">New post</button>
            </div>    
        </div>
    </header>
</div>

<main class="container">
  <div class="row g-5">
    <div class="col-md-8">
      <div id="new-post" class="p-md-4 mb-4 text-dark rounded bg-light row justify-content-center" style="display: none;">
          <form class="col-8 row g-3" (submit)="addPost()">
              <div class="mb-2 col-md-6">
                  <input type="text" id="title" name="title" class="form-control" [(ngModel)]="title" autocomplete="off" placeholder="Title" required>
              </div>
              <div class="mb-2 col-12">
                  <textarea type="text" id="content" name="content" class="form-control" [(ngModel)]="content" autocomplete="off" placeholder="Write content here..." required style="height: 140px"></textarea>
              </div>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="button col-3">Create post</button>
              </div>
          </form>
      </div>
      <div class="posts">
          <div *ngFor="let post of posts; let i = index;" class="blog-post">
            <app-post [post]="post"></app-post>
          </div>     
      </div>

      </div>
      <app-console-log-form class="col-md-4"></app-console-log-form>        
  </div>

</main>

<footer class="blog-footer">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
